body {
  background-color: #f0ebf8;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
}

.App {
  width: 100%;
}

.formArea {
  width: 640px;
}

.quesArea, .headArea {
  border-radius: 10px;
  background-color: #ffffff;
  margin: 12px 0;
  border: 1px solid #dadce0;
}

.headDesc {
  color: #5f6368;
  font-size: 14px;
}

.headEmail {
  font-weight: 700;
}

.headDesc div {
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  margin-top: 12px;
}

.headInfo {
  color: #d93025;
}

.innerHead a {
  text-decoration: none;
  font-size: 14px;
}

hr {
  border-top: 1px solid #dadce0;
}

.quesArea, .innerHead {
  padding: 20px 24px 20px 24px;
}

.headColor {
  width: 100%;
  height: 10px;
  background-color: #6739b7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headHeading {
  font-size: 32px;
  font-weight: 500;
}

.required {
  color: #d93025;
}

.quesHead {
  margin-bottom: 16px;
}

.quesContent {
  font-family: Roboto,Arial,sans-serif;
  display: flex;
  flex-direction: column;
}

.quesContent div {
  width: 100%;
  padding: 8px 8px 8px 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.quesContent input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

input[type=text] {
  width: 60%;
  border: 0;
  border-bottom: #dadce0 1px solid;
  padding: 5px 0px;
}

input[type=file] {
  display: none;
}

textarea {
  font-family: Roboto,Arial,sans-serif;
  width: 100%;
  border: 0;
  border-bottom: #dadce0 1px solid;
  padding: 5px 0px;
}

select {
  border: #dadce0 1px solid;
  color: #202124;
  padding: 8px 30px 8px 16px;
}

.custom-file-upload {
  border: #dadce0 1px solid;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #1a73e8;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  border-radius: 4px;
}

.linearScale, .multiScale {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.linearScaleItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiScale {
  background-color: #f7f9fb;
  margin-bottom: 5px;
  padding: 10px;
}

.submitBtn {
  background-color: #6739b7;
  padding: 12px 24px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.submitMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.progressBox {
  display: flex;
  align-items: center;
}

.progressBox span {
  margin-left: 10px;
  font-size: 14px;
}

.formProgress {
  height: 10px;
  width: 185px;
  background-color: #33a852;
  border-radius: 5px;
}

.formClear {
  font-size: 14px;
  color: #6739b7;
  font-weight: 600;
  letter-spacing: .25px
}

.footer {
  color: #000000A8;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.footer span:nth-child(1) {
  align-self: start;
  margin-bottom: 20px;
}

.footer span:nth-child(2) {
  align-self: center;
}

.footer div {
  margin-top: 20px;
  font-family: "Product Sans",Arial,Helvetica,sans-serif;
  font-size: 22.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 5px;
}

.footer div span {
  position: relative;
  top: -2px;
}

.underline {
  text-decoration: underline;
}

@media only screen and (max-width: 660px) {
  .formArea {
    width: 100%;
  }  
}